.dos::after{
    content: "";
    width: 100%;

    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(-100% - 80px);

    
    border-right: 80px transparent solid;
    border-bottom: 80px blue solid;
    transition: all 0.4s ease-in-out;

}

.dos:hover::after{
    left: 0;
}